
.App {
  min-width: 100vw;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

li{
  list-style: none;
  margin: .5rem;
}
ul{
  text-align: left;
}

.need-permision h2,h1{
  color: rgb(240, 0, 0);

}

.weather-app{
  border-radius: 1.5rem;
  padding: 1rem;
  background-color: #b1ddd3;
  width: 25vw;
  height: 450px;
}
.temperature{
  margin-bottom: 1rem;
}
.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
}
.icon > img{
  width: 150px;
  margin-right: -1rem;
}